/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
*/

$textBase: 'Open Sans', sans-serif;
$textSecond: 'Source Sans Pro', sans-serif;

$colorBgBase: #f5f5f5;
$colorBgFirst: #ffffff;
$colorBgSecond: #fbfbfb;
$colorText: #fc6744;
$colorBtn: #ff5c36;